@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway&display=swap');

li:nth-of-type(3n) {
    color:#3b16dd;
    font-family: Montserrat;
}

li:nth-of-type(5n) {
    background-color: #fff176;
}

li:nth-of-type(2n) {
    text-decoration: underline;
}

li:nth-of-type(2n-1) {
    list-style-type: square;
}

li:nth-of-type(7n) {
    font-size: 1.6em;
}

li:nth-of-type(1) {
    color: #e53935;
}

li:nth-of-type(4n) {
    letter-spacing: 6px;
}

li:nth-of-type(13n) {
    background-color: #ff8a80;
}