h3::first-letter {
    color: #00796B;
    font-size: 3em;
    display:inline-block;
}

h3:hover:first-letter {
    color: #4fc3f7;
}


ul li:nth-child(1)::first-letter {
    color: #4fc3f7;
    text-decoration: overline;
    font-size: 2em;
}

ul li:nth-child(2)::first-letter {
    color: #c51162;
    text-decoration: underline;
    font-size: 2em;
}

ul li:nth-child(3)::first-letter {
    color: #64DD17;
    font-size: 2em;
}

ul li:nth-child(3) {
    text-decoration: line-through;
}

p:first-of-type {
    color: #37474F;
    text-indent: 50px;
}

p:first-of-type::first-line {
    font-size: 1.3em;
}


p:nth-child(n+2)::first-letter {
    color: red;
    font-size: 1.5em;
}

p:nth-child(n+2)::first-line {
    color: greeN;
}

p:hover:nth-child(n+2)::first-line {
    color:#303f9f;
}

p:nth-child(even){
    font-weight: 600;
}