@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans&display=swap');

* {
margin: 0px;
box-sizing: border-box;
}

header {
    font-family: 'Fredericka the Great', cursive;
}

h2 {
    padding: 20px 0 0 40px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.823);
}

main {
    background-image: url(./img/devin-kaselnak-kEuew3XMeEA-unsplash.jpg);
    height:100vh;
    background-size: cover;
    overflow: hidden;
}
h3 {
    font-size: 28px;
    padding: 0 10px 0 10px;
    margin-bottom: 15px;
}

h3, p {
    color: white;
}

section {
    display: flex;
    margin: auto;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

article {
    display: block;
    margin: auto;
    width: 330px;
    text-align: center;
}

article p {
    line-height: 20px;
font-family: Open Sans;
}

a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    font-family: open sans;
    border: 1px solid rgba(255, 255, 255, 0.841);
    margin-top: 20px;
    transition: 0.2s all;
}

a:hover {
    background: white;
    color: black;
    transition: 0.2s all;
}